@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors

$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;

$Very_Dark_Blue: #4c4e61;
$Grayish_Blue: #a3a5ae;
$Very_Light_Gray: #fafafa;
// fonts

$font: 'Poppins', sans-serif;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @content;
}

body {
  position: relative;
  background-color: $Very_Light_Gray;
  @include flex-center();
  font-family: $font;
  font-size: 15px;
}

.subject{
  text-align: center;
  font-size: 1rem;
}
.comment{
  text-align: center;
  font-size: .6rem;
  opacity: 0.5;
}
.box{
  display: grid;
  grid-template-areas:
  '. mid .'
  'one mid four';
}

.tom-1{
  background-color: $Cyan;
  grid-area: one;
}

.tom-2{
    background-color: $Very_Dark_Blue;  
}

.tom-3{
    background-color: $Orange;
}

.middle{
  grid-area: mid;
  position: relative;
  top:7rem;
}

.tom-4{
    background-color: #ea5353;
    grid-area: four;
}

.tom{
margin: .5rem;
width: 200px;
height: 200px;
border-radius: .5rem;
}