@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors

$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;

$Very_Dark_Blue: #4c4e61;
$Grayish_Blue: #a3a5ae;
$Very_Light_Gray: #fafafa;
// fonts

$font: "Poppins", sans-serif;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @content;
}

body {
  position: relative;
  background-color: $Very_Light_Gray;
  @include flex-center();
  height: 200vh;
  font-family: $font;
  font-size: 15px;
}

header {
  margin: 1rem;
  text-align: center;
  @include flex-center();

  .title {
    font-size: 1.5rem;
    font-weight: 100;
    color: $Very_Dark_Blue;
  }
  .powered {
    font-size: 1.5rem;
    font-weight: 600;
    color: $Very_Dark_Blue;
    // margin-bottom: 1rem;
  }
  .bio {
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: $Grayish_Blue;
  }
}

@mixin boxes {
  position: relative;
  background-color: $Very_Light_Gray;
  width: 320px;
  height: 230px;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.4rem;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 5px;
    border-radius: 1rem 1rem 0 0;
  }

  h3 {
    color: $Very_Dark_Blue;
    font-size: 1.2rem;
  }
  p {
    color: $Grayish_Blue;
    font-size: small;
  }
  svg {
    margin-top: 3rem;
    float: right;
  }
  @content;
}

.box{
  margin: 2rem
}

.superV {
  @include boxes();

  &::after {
    background-color: $Cyan;
  }
}

.teamB {
  @include boxes();

  &::after {
    background-color: $Red;
  }
}

.karma {
  @include boxes();

  &::after {
    background-color: $Orange;
  }
}

.calc {
  @include boxes();

  &::after {
    background-color: $Blue;
  }
}

@media (min-width: 1070px) {
  body {
    height: 120vh;
  }
  header {
    .bio {
      width: 30rem;
    }
  }

  main {
    display: grid;
    grid-template-areas: "one mid four";
  }

  .box {
    margin: 1rem;
    position: relative;
  }
  .superV {
    grid-area: one;
    top: 8rem;
  }

  .middle {
    grid-area: mid;
  }

  .calc {
    grid-area: four;
    top: 8rem;
  }
}
